.container {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.header {
    display: flex;
    justify-content: flex-end; 
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
}
.logo-img {
    max-width: 400px;
    max-height: 350px;
    width: auto;
    height: auto;
    margin-right: 250px;
    object-fit: contain;
}
.input-style {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    outline: none;
    width: calc(100% - 30px);
}
.input-style:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.column {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}
.label {
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
}
.password-container {
    position: relative;
    display: flex;
    align-items: center;
}
.password-container input {
    flex: 1;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}
.password-container .toggle-visibility {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #555;
}
// button {
//     background-color: #003ebb;
//     color: white;
//     border: none;
//     padding: 10px 20px;
//     font-size: 16px;
//     border-radius: 5px;
//     cursor: pointer;
// }
// button:hover {
//     background-color: #002ea6;
// }
@media screen and (max-width: 768px) {
    .logo-img {
        width: 200px;
        height: 150px;
    }
}