<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <div class="login-box">
        <div class="content" >
            <div class="logo-section">

                <img src="/assets/images/PIXEL (7).png" alt="Logo" class="logo-image">
            </div>
            <form (ngSubmit)="login()" [formGroup]="loginForm" style="width: 50%;">
                <div class="form-section">
                    <div class="form-group">
                        <label for="username">อีเมล์:</label>
                        <input type="username" id="username" formControlName="username">
                    </div>
                    <div class="form-group">
                        <label for="password">รหัสผ่าน:</label>
                        <input type="password" id="password" formControlName="password">
                    </div>
                    <a href="#" class="forgot-password">ลืมรหัสผ่าน</a>
                    <div class="form-buttons">
                        <button type="button" class="register-btn" (click)="goToRegister()">สมัครสมาชิก</button>
                        <button type="submit" class="login-btn">เข้าสู่ระบบ</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Modal -->
    <div *ngIf="isModelOpen" class="modal" >
        <!-- From Uiverse.io by Alaner-xs --> 
        
        <div *ngIf="dataLogin.length > 1" class="card">
            <div class="card-border-top"></div>
           
                <img class="img" src="{{dataLogin[0].image_profile}}" alt="">
          
            <span>{{dataLogin[0].username}}</span>
            <div *ngIf="dataLogin[0].sht_status != null ; else kkkk">
                <p class="job">Shutter</p>
            </div>
            <ng-template #kkkk>
                <p class="job">Member</p>
            </ng-template>
            <button (click)="choose(dataLogin[0].type_user)">Click</button>
        </div>
    
        <div class="card">
            <div class="card-border-top"></div>

                <img class="img" src="{{dataLogin[1].image_profile}}" alt="">
         
            <span>{{dataLogin[1].username}}</span>
            <div *ngIf="dataLogin[1].sht_status != null ; else kkkk">
                <p class="job">Shutter</p>
            </div>
            <ng-template #kkkk>
                <p class="job">Member</p>
            </ng-template>
            <button (click)="choose(dataLogin[1].type_user)">Click</button>
        </div>
    
    </div>          
</body>
</html>
