<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <div class="login-box">
        <div class="content">
            <div class="logo-section">
                <img src="/assets/image/PIXEL (7).png" alt="Logo" class="logo-image">
            </div>
            <div class="form-section">
                <div class="form-group">
                    <label for="email">อีเมล์:</label>
                    <input type="email" id="email" name="email" #email>
                </div>
                <div class="form-group">
                    <label for="password">รหัสผ่าน:</label>
                    <input type="password" id="password" name="password" #password>
                </div>
                <a href="#" class="forgot-password">ลืมรหัสผ่าน</a>
                <div class="form-buttons">
                    <button class="register-btn" (click)="goToRegister()">สมัครสมาชิก</button>
                    <button class="login-btn"(click)="login(email,password)">เข้าสู่ระบบ</button>
                  </div>
                
            </div>
        </div>
    </div>
</body>
</html>
