body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.container {
    max-width: 600px;
    margin: auto;
}
.header {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
//ปุ่มกลับ
/* From Uiverse.io by AmIt-DasIT */ 
.box {
   width: 45px;
  height: 45px;
  background: #0c63ef;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 10px;

}

.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-220deg);
}

.box:hover {
  width: 160px;
  background: linear-gradient(to right,#0c63ef, yellow);
}

.box:hover .arrow {
  display: none;
}

.box .text {
  display: none;
}

.box:hover .text {
  display: flex;
  font-size: 16px;
  font-weight: 550;
  color: black;
  letter-spacing: 0.6px;
  animation: anima 0.6s ease;
}

@keyframes anima {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.box:active {
  background: linear-gradient(to right, rgb(38, 213, 38, 0.8), rgba(255, 255, 0, 0.8));
}
.user-list {
    list-style: none;
    padding: 0;
}
.user-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #3478f6;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.user-info {
    display: flex;
    align-items: center;
}
.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.user-avatar:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}
.unfollow-button {
    background: #ffb400;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}