<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>สมัครสมาชิก</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="box" (click)="back()">
  <i class="arrow right"></i>
  <span class="text">กลับ</span>
</div>
        
        <div class="profile-section">
            <img [src]="imagePreview" alt="Profile" id="profileImage" class="profile-image">
            <input type="file" id="fileInput" style="display: none;" (change)="onFileSelected($event)">
            <button class="change-profile-btn" (click)="triggerFileInput()">
                เลือกรูป Profile
            </button>
        </div>
                       
        <div class="form-container">
            <form [formGroup]="fromreister" (ngSubmit)="register()" class="register-form">
                
                <div class="form-group">
                    <label class="label">อีเมล์ <span style="color: red;">*</span></label>
                    <input type="email" class="input-style" 
                           [class.error]="fromreister.get('Email')?.invalid && fromreister.get('Email')?.touched"
                           placeholder="ระบุอีเมล์" formControlName="Email">
                    <div *ngIf="fromreister.get('Email')?.invalid && fromreister.get('Email')?.touched" class="error-message">
                        <span *ngIf="fromreister.get('Email')?.errors?.['required']"style="color: red; font-size: smaller;">*กรุณากรอกอีเมล์</span>
                        <span *ngIf="fromreister.get('Email')?.errors?.['email']"style="color: red; font-size: smaller;">*รูปแบบอีเมล์ไม่ถูกต้อง</span>
                        <span *ngIf="fromreister.get('Email')?.errors?.['whitespace']"style="color: red; font-size: smaller;">*อีเมล์ไม่สามารถเป็นช่องว่างได้</span>
                        <span *ngIf="fromreister.get('Email')?.errors?.['invalidEmailFormat']"style="color: red; font-size: smaller;">*อีเมลไม่ถูกต้อง เช่น yourname&#64;example.com</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="label">ชื่อผู้ใช้ (username) <span style="color: red;">*</span></label>
                    <input type="text" class="input-style" 
                           [class.error]="fromreister.get('UserName')?.invalid && fromreister.get('UserName')?.touched"
                           placeholder="ระบุ ชื่อผู้ใช้" formControlName="UserName">
                    <div *ngIf="fromreister.get('UserName')?.invalid && fromreister.get('UserName')?.touched" class="error-message">
                        <span *ngIf="fromreister.get('UserName')?.errors?.['required']" style="color: red; font-size: smaller;">*กรุณากรอก ชื่อผู้ใช้</span>
                        <span *ngIf="fromreister.get('UserName')?.errors?.['whitespace']" style="color: red; font-size: smaller;">*ชื่อผู้ใช้ ไม่สามารถเป็นช่องว่างได้</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="label">ชื่อ <span style="color: red;">*</span></label>
                    <input type="text" class="input-style" 
                           [class.error]="fromreister.get('Name')?.invalid && fromreister.get('Name')?.touched"
                           placeholder="ระบุชื่อ" formControlName="Name">
                    <div *ngIf="fromreister.get('Name')?.invalid && fromreister.get('Name')?.touched" class="error-message">
                        <span *ngIf="fromreister.get('Name')?.errors?.['required']"style="color: red; font-size: smaller;">*กรุณากรอกชื่อ</span>
                        <span *ngIf="fromreister.get('Name')?.errors?.['whitespace']"style="color: red; font-size: smaller;">*ชื่อไม่สามารถเป็นช่องว่างได้</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="label">นามสกุล <span style="color: red;">*</span></label>
                    <input type="text" class="input-style" 
                           [class.error]="fromreister.get('LastName')?.invalid && fromreister.get('LastName')?.touched"
                           placeholder="ระบุนามสกุล" formControlName="LastName">
                    <div *ngIf="fromreister.get('LastName')?.invalid && fromreister.get('LastName')?.touched" class="error-message">
                        <span *ngIf="fromreister.get('LastName')?.errors?.['required']"style="color: red; font-size: smaller;">*กรุณากรอกนามสกุล</span>
                        <span *ngIf="fromreister.get('LastName')?.errors?.['whitespace']"style="color: red; font-size: smaller;">*นามสกุลไม่สามารถเป็นช่องว่างได้</span>
                    </div>
                </div>
            
                <div class="form-group">
                    <label class="label">เบอร์โทรศัพท์ <span style="color: red;">*</span></label>
                    <input 
  type="text"
  maxlength="10"
  class="input-style" 
  placeholder="ระบุหมายเลขโทรศัพท์ 10 หลัก"
  formControlName="Phone"
  (keypress)="onlyNumber($event)">
                    <div *ngIf="fromreister.get('Phone')?.invalid && fromreister.get('Phone')?.touched" class="error-message">
                        <span *ngIf="fromreister.get('Phone')?.errors?.['required']"style="color: red; font-size: smaller;">*กรุณากรอกหมายเลขโทรศัพท์</span>
                        <!-- <span *ngIf="fromreister.get('Phone')?.errors?.['pattern']"style="color: red; font-size: smaller;">*หมายเลขโทรศัพท์ต้องเป็นตัวเลข 10 หลัก</span> -->
                        <span *ngIf="fromreister.get('Phone')?.errors?.['whitespace']"style="color: red; font-size: smaller;">*หมายเลขโทรศัพท์ไม่สามารถเป็นช่องว่างได้</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="label">ที่อยู่</label>
                    <textarea class="input-style" rows="3" placeholder="ระบุที่อยู่" formControlName="address"></textarea>
                </div>

            <div class="form-group" style="position: relative;">
              <label class="label">รหัสผ่าน<span style="color: red;">*</span></label>
              <div class="password-container">
                <input
                  [type]="hidePassword ? 'password' : 'text'"
                  class="input-style"
                  [class.error]="fromreister.get('Password')?.invalid && fromreister.get('Password')?.touched"
                  placeholder="ระบุรหัสผ่าน" formControlName="Password">

                <i
                  class="bi toggle-icon"
                  [ngClass]="hidePassword ? 'bi-eye-slash' : 'bi-eye'"
                  (click)="togglePasswordVisibility('password')"
                ></i>
              </div>
          
              <!-- ข้อความแจ้ง error -->
              <div *ngIf="fromreister.get('Password')?.touched" class="error-message-absolute">
    <span *ngIf="fromreister.get('Password')?.errors?.['minlength']">, รหัสผ่านต้องมีอย่างน้อย 8 ตัวอักษร</span>
    <span *ngIf="fromreister.get('Password')?.errors?.['number']">, ต้องมีตัวเลขอย่างน้อย 1 ตัว</span>
    <span *ngIf="fromreister.get('Password')?.errors?.['uppercase']">, ต้องมีตัวพิมพ์ใหญ่อย่างน้อย 1 ตัว</span>
    <span *ngIf="fromreister.get('Password')?.errors?.['lowercase']">, ต้องมีตัวพิมพ์เล็กอย่างน้อย 1 ตัว</span>
    <span *ngIf="fromreister.get('Password')?.errors?.['special']">, ต้องมีอักขระพิเศษอย่างน้อย 1 ตัว </span>
  </div>
            </div>

            <div class="form-group" style="position: relative;">
                <label class="label">ยืนยันรหัสผ่าน <span style="color: red">*</span></label>
                 <div class="password-container">
                    <input
                      [type]="hideConfirmPassword ? 'password' : 'text'"
                      [class.error]="fromreister.get('confirmPassword')?.invalid && fromreister.get('confirmPassword')?.touched"
                      placeholder="ระบุยืนยันรหัสผ่าน"
                      class="input-style"
                      formControlName="confirmPassword"
                    />
                    <i
                      class="bi toggle-icon"
                      [ngClass]="hideConfirmPassword ? 'bi-eye-slash' : 'bi-eye'"
                      (click)="togglePasswordVisibility('confirmPassword')"
                    ></i>
                  </div>
                  <!-- ข้อความแจ้ง error -->
                   <div *ngIf="fromreister.get('confirmPassword')?.invalid && fromreister.get('confirmPassword')?.touched" class="error-message-absolute">
                        <span *ngIf="fromreister.get('confirmPassword')?.errors?.['required']"style="color: red; font-size: smaller;">*กรุณายืนยันรหัสผ่าน</span>
                        <span *ngIf="fromreister.get('confirmPassword')?.errors?.['whitespace']"style="color: red; font-size: smaller;">*การยืนยันรหัสผ่านไม่สามารถเป็นช่องว่างได้</span>
                    </div>
                  <div *ngIf="fromreister.get('confirmPassword')?.valid && fromreister.get('Password')?.valid && 
                                fromreister.get('confirmPassword')?.touched && 
                                fromreister.value.Password !== fromreister.value.confirmPassword" 
                          class="error-message-absolute" >
                        รหัสผ่านไม่ตรงกัน
                    </div>
            </div>
                
                <button type="submit" mat-raised-button 
                        [disabled]="isRegistering||fromreister.invalid" 
                        [class.disabled]="fromreister.invalid"
                class="submit-btn"[style.pointer-events]="isRegistering ? 'none' : 'auto'"
                ><span *ngIf="!isRegistering">สมัครสมาชิก</span>
                <span *ngIf="isRegistering">
                  <mat-spinner diameter="20" style="display: inline-block; margin-right: 8px;"></mat-spinner>
                  กำลังบันทึก...
                </span> </button>
            </form>
        </div>        
    </div>

    <script>
            // สำหรับการเปิด/ปิดรหัสผ่าน
            const togglePassword = document.querySelector("#togglePassword");
            const password = document.querySelector("#password");

            togglePassword.addEventListener("click", function () {
                const type = password.getAttribute("type") === "password" ? "text" : "password";
                password.setAttribute("type", type);
                this.classList.toggle("bi-eye");
                this.classList.toggle("bi-eye-slash");
            });

            // สำหรับการเปิด/ปิดยืนยันรหัสผ่าน
            const toggleConfirmPassword = document.querySelector("#toggleConfirmPassword");
            const confirmPassword = document.querySelector("#confirm-password");

            toggleConfirmPassword.addEventListener("click", function () {
                const type = confirmPassword.getAttribute("type") === "password" ? "text" : "password";
                confirmPassword.setAttribute("type", type);
                this.classList.toggle("bi-eye");
                this.classList.toggle("bi-eye-slash");
            });
        </script>
</body>
</html>