<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="back-button" style="padding: 10px;">
        <span>&larr; กลับ</span>
    </div>
    <div class="container">
        <div class="column">
            <img [src]="imagePreview" alt="User Profile" class="imag" id="profileImage">
            <input type="file" id="fileInput" style="display: none;" (change)="onFileSelected($event)">
            <button class="btn-profile" style="margin-top: 10px;" (click)="triggerFileInput()">เปลี่ยนรูป Profile</button>
        </div>
        
        <form>
            <div class="form-group">
                <label class="label">Username</label>
                <input type="text" class="input-style" placeholder="ระบุ Username">
            </div>
            <div class="form-group">
                <label class="label">ชื่อ</label>
                <input type="text" class="input-style" placeholder="ระบุชื่อ">
            </div>
            <div class="form-group">
                <label class="label">นามสกุล</label>
                <input type="text" class="input-style" placeholder="ระบุนามสกุล">
            </div>
            <div class="form-group">
                <label class="label">อีเมล</label>
                <input type="email" class="input-style" placeholder="ระบุอีเมล">
            </div>
            <div class="form-group">
                <label class="label">หมายเลขโทรศัพท์</label>
                <input type="tel" class="input-style" placeholder="ระบุหมายเลขโทรศัพท์"> 
            </div>
            <div class="form-group">
                <label class="label">จังหวัดของคุณ</label>
                <select class="input-style">
                  <option value="">-- เลือกจังหวัด --</option>
                  <option *ngFor="let thai of thaijson" [value]="thai.name_th">
                    {{ thai.name_th }}
                  </option>
                </select>
              </div>
            <div class="form-group">
                <label class="label">ที่อยู่</label>
                <textarea class="input-style" rows="3" placeholder="ระบุที่อยู่"></textarea>
            </div>
            <div class="column">
            <button type="submit" class="btn-submit" (click)="base_for_shutt()">บันทึกและไปต่อ</button>
            </div>
        </form>
    </div>
</body>
</html>
