.container {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.logo-img {
    max-width: 400px; /* กำหนดขนาดสูงสุดของรูป */
    max-height: 350px; /* กำหนดความสูงสูงสุด */
    width: auto; /* ให้ปรับตามสัดส่วนความกว้าง */
    height: auto; /* ให้ปรับตามสัดส่วนความสูง */
    object-fit: contain; /* รักษาสัดส่วนของรูป */
    display: flex;
    justify-content: flex-start; /* รูปอยู่ทางซ้าย */
    align-items: flex-start; /* รูปอยู่มุมบนซ้าย */
   // margin-left: -150%;
}
.header {
    display: flex;
    justify-content: flex-end; 
    border-bottom: 1px solid #ddd;
    top: 0; /* Stick to the top of the viewport */
    right: 0;
    position: sticky;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  h2{
    color: #003ebb;
    display: flex;
    justify-content: flex-start; /* รูปอยู่ทางซ้าย */
    align-items: flex-start; /* รูปอยู่มุมบนซ้าย */
    margin-left: 10%;
  }
  .text {
    color: #003ebb;
    display: flex;
    justify-content: flex-start; /* รูปอยู่ทางซ้าย */
    align-items: flex-start; /* รูปอยู่มุมบนซ้าย */
    margin-left: 10%;
    font-size: 18px;
  }

  form {
    width: 80%;
    text-align: left;
    // display: flex;
    // justify-content: flex-start; /* รูปอยู่ทางซ้าย */
    // align-items: flex-start; /* รูปอยู่มุมบนซ้าย */
    margin-left: 10%;
   
}

.form-group {
    margin-bottom: 20px;
}

.label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    color: black;
}

.input-style {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.input-style:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.button-container {
    //position: fixed;
    bottom: 0;
    //left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between; /* ทำให้ปุ่มทั้งสองอยู่ที่ซ้ายและขวา */
    //padding: 30px;
    //background-color: #fff; /* ตั้งค่าพื้นหลังให้กับแถบปุ่ม */
    //border-top: 1px solid #ddd; /* ขอบด้านบน */
    margin: 0 auto;
    text-align: center;
  }
  
  .button-container .back-button {
    background-color: rgb(255, 196, 0); /* สีเหลือง */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer
  }
  .button-container .back-button:hover {
    background-color: rgb(255, 187, 0);
}
  
  .button-container .save-button {
    background-color: #003ebb;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer
  }

.button-container .save-button:hover {
    background-color: #002fa1;
}

  /* Media Queries สำหรับทำให้ Responsive */
  @media screen and (max-width: 768px) {
    .logo-img {
        //padding-top: 10px;
        
        width: 200px;
        height: 150px;
      }

      .text {
        color: #003ebb;
        display: flex;
        justify-content: flex-start; /* รูปอยู่ทางซ้าย */
        align-items: flex-start; /* รูปอยู่มุมบนซ้าย */
        margin-left: 10%;
        font-size: 15px;
      }
    }

    @media screen and (max-width: 480px) {
        .text {
            color: #003ebb;
            display: flex;
            justify-content: flex-start; /* รูปอยู่ทางซ้าย */
            align-items: flex-start; /* รูปอยู่มุมบนซ้าย */
            margin-left: 10%;
            font-size: 10px;
        }
    
    }