<html >
<div class="container">
    <header >
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=account_circle" />
        <div class="header">
            <button mat-button >เข้าสู่ระบบ</button>  
            <span class="material-symbols-outlined" style="font-size: 2.2em; padding :5px">
                account_circle
            </span>
        </div>
            
    </header>
    <div>
        <div class="logo">
            <img src="/assets/images/PIXEL (7).png" alt="Logo" class="logo-img" />
            <!-- <span class="logo-text">SHUTTER <span class="seek">seek</span></span> -->
          </div>
    </div>
  
    <body class="content">
      <button class="shadow__btn" routerLink="/createacc">สร้างบัญชีช่างภาพ</button>

      <hr style="border: 1px solid #ddd; width: 100%; margin: 20px auto; margin-top:30px;" />

      <h2 class="steps-title">3 ขั้นตอนง่ายๆ</h2>
      <div class="steps">
        <div class="step">
          <img src="/assets/images/add-friend.png" alt="Step 1" class="step-icon" />
          <h3>ขั้นตอนที่ 1 สร้างบัญชีช่างภาพ</h3>
          <p>
            เริ่มต้นด้วยการลงทะเบียนในเว็บไซต์ของเรา โดยกรอกข้อมูลส่วนตัวที่จำเป็น เช่น ชื่อผู้ใช้ อีเมล และรหัสผ่าน
          </p>
        </div>
        <div class="step">
          <img src="/assets/images/portfolio (1).png" alt="Step 2" class="step-icon" />
          <h3>ขั้นตอนที่ 2 สร้างผลงาน</h3>
          <p>
            อัปโหลดผลงานถ่ายภาพที่โดดเด่น พร้อมคำอธิบายที่น่าสนใจ เพื่อให้ผู้ว่าจ้างสามารถเห็นความสามารถและสไตล์การถ่ายภาพของคุณ
          </p>
        </div>
        <div class="step">
          <img src="/assets/images/resume.png" alt="Step 3" class="step-icon" />
          <h3>ขั้นตอนที่ 3 กำหนดราคา และส่งผลการสมัคร</h3>
          <p>
            กำหนดรายละเอียดบริการและค่าบริการประเภทงานที่คุณพร้อมให้บริการ
            เมื่อตรวจสอบครบถ้วน ระบบจะตรวจสอบและแจ้งผลการสมัครของคุณ
          </p>
        </div>
      </div>
    </body>
  </div>

  </html>